@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.channelsList {
  max-height: calc(100vh - 50%);
}

@media screen and (max-width: 480px) {
  .channelsList {
    max-height: calc(100vh - 40%) !important;
  }
}
